:root{
    --background: #e5e4e1;
    --text: #272e31;
    --grey: #41505f;
    --green: #639147;
    --yellow: #d5a44b;
    --keyboard: #cfcdc9;
    --shadow: #9f9e9a;
    --base: #4c7093;

    --red: #cc3257;
}

/*文字周り(太)*/
@font-face {
    font-family: "IBM Plex Sans JP Bold";
    src: url("fonts/IBMPlexSansJP-Bold.ttf");
    font-style: normal;
    size-adjust: 100%;
}

@font-face {
    font-family: "DM Sans Bold";
    src: url("fonts/DMSans-Bold.ttf");
    font-style: normal;
    size-adjust: 110%;
    /*英語だけ*/
    unicode-range: U+0041-007A;
}

@font-face {
    font-family: "Roboto Bold";
    src: url("fonts/Roboto-Bold.ttf");
    font-style: normal;
    size-adjust: 111%;
    /*数字だけ*/
    unicode-range: U+0030-0039;
}

/*文字周り(普通)*/
@font-face {
    font-family: "IBM Plex Sans JP";
    src: url("fonts/IBMPlexSansJP-Medium.ttf");
    font-style: normal;
    size-adjust: 100%;
}

@font-face {
    font-family: "DM Sans";
    src: url("fonts/DMSans-Regular.ttf");
    font-style: normal;
    size-adjust: 110%;
    /*英語だけ*/
    unicode-range: U+0041-007A;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Regular.ttf");
    font-style: normal;
    size-adjust: 111%;
    /*数字だけ*/
    unicode-range: U+0030-0039;
}

/*フォント設定はここに集約*/
p{
    font-family: "Roboto", "DM Sans", "IBM Plex Sans JP";
}


h1,h2,h3,input,button,b,span{
    font-family: "Roboto Bold", "DM Sans Bold", "IBM Plex Sans JP Bold";

    font-weight: normal;
    font-style: normal;
}

/*remの基準*/
html{
    font-size: 1.5vh;
}

body{
    background-color: var(--background);
    padding: 0;
    margin: 0;

    top: 0;
    height: 100svh;
}

.wordle-wrapper{
    display: block;
    position: relative;
    width: 100%;
    max-width: 40rem;
    height: 100%;
    padding: 0;
    margin: 0 auto;

    box-shadow: 0 0 0.1rem 0.1rem var(--shadow);

    text-align: center;
}

h1{
    font-size: 2.4em;
    margin: 0;

    padding-top: 1rem;

    line-height: 4rem;
}

.rules{
    background-color: var(--keyboard);
    width:75%;
    margin: 0 auto;
    padding: 0 1.5rem 0 1.5rem;

    border: 2px solid var(--shadow);
}

h2{
    font-size: 1.2rem;
    line-height: 3rem;
    margin: 0;  
}

p{
    font-size: 1rem;
    margin: 0;
}

.wide{
    line-height: 2rem
}

.mohankaito{
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;

    font-size: 1.2rem;

    border: solid 1px var(--text);

    margin-left: 0.1rem;
    margin-right: 0.1rem;
}

/*入力欄*/
.answer-area{
    padding: 2rem 0;
}

.input-area{
    height: 3rem;
    margin: 0.4rem;

    text-align: center;
}

input[type="text"], .ansbox{
    appearance: none;
    -webkit-appearance: none;
    display: inline-block;
    box-sizing: border-box;
    background-color: var(--background);

    padding: 0;
    margin: 0.1rem;

    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;

    border: solid 1px var(--text);

    font-size: 1.5rem;

    pointer-events: none;
}

.yellow{
    background-color: var(--yellow) !important;
    color: var(--background);
    transition: transform 1.5s, background-color 1s 1.5s, color 1s 1.5s;
    transform-style: preserve-3d;

    transform: rotateX(360deg);
}

.grey{
    background-color: var(--grey) !important;
    color: var(--background);
    transition: transform 1.5s, background-color 1s 1.5s, color 1s 1.5s;
    transform-style: preserve-3d;

    transform: rotateX(360deg);
}

.green{
    background-color: var(--green) !important;
    color: var(--background);
    transition: transform 1.5s, background-color 1s 1.5s, color 1s 1.5s;
    transform-style: preserve-3d;

    transform: rotateX(360deg);
}

.wordle-inputbox{
    display: inline-block;
    width: 2em;
    height: 2em;
}

/*遅延*/
.wordle-inputbox:nth-child(1) {
    transition-delay: 0s;
}
.wordle-inputbox:nth-child(2) {
    transition-delay: 0.3s;
}
.wordle-inputbox:nth-child(3) {
    transition-delay: 0.6s;
}
.wordle-inputbox:nth-child(4) {
    transition-delay: 0.9s;
}
.wordle-inputbox:nth-child(5) {
    transition-delay: 1.2s;
}

/*キーボード*/
.keyboard-area{
    text-align: center;
}

.keybord-row{
    text-align: center;
}

.key{
    display: inline-block;

    height: 3rem;
    width: 2rem;
    text-align: center !important;
    
    margin: 0.1rem 0.05rem 0.5rem 0.05rem;
    padding: 0;
    
    font-size: 0.9rem;

    background-color: var(--keyboard);
    border: none;
    border-radius: 0;

    box-shadow: 0 0.2rem 0rem 0 var(--shadow);
}

.key:active{
    transform: translateY(0.16rem);
    box-shadow: 0 0.04rem 0rem 0 var(--shadow);
}

.key-wide{
    display: inline-block;

    height: 3rem;
    width: 3rem;
    text-align: center !important;
    
    margin: 0.1rem 0.05rem 0.5rem 0.05rem;
    padding: 0;
    
    font-size: 0.9rem;

    background-color: var(--keyboard);
    border: none;
    border-radius: 0;

    box-shadow: 0 0.2rem 0rem 0 var(--shadow);
}

.key-wide:active{
    transform: translateY(0.16rem);
    box-shadow: 0 0.04rem 0rem 0 var(--shadow);
}

.key_green{
    background-color: var(--green);
    color: var(--background);

    transition: background-color 0s 2.4s, color 0s 2.4s;
}

.key_yellow{
    background-color: var(--yellow);
    color: var(--background);

    transition: background-color 0s 2.4s, color 0s 2.4s;
}

.key_grey{
    background-color: var(--grey);
    color: var(--background);
    pointer-events: none;

    transition: background-color 0s 2.4s, color 0s 2.4s;
}

/*提出ボタン*/
input[type="submit"]{
    display: inline-block;

    width: 4rem;
    height: 3rem;
    text-align: center;

    margin: 0.1rem 0.05rem 0.5rem 0.05rem;

    font-size: 0.9rem;

    background-color: var(--keyboard);
    border: none;
    border-radius: 0;

    box-shadow: 0 0.2rem 0rem 0 var(--shadow);
}


input[type="submit"]:active{
    transform: translateY(0.16rem);
    box-shadow: 0 0.04rem 0rem 0 var(--shadow);
}

/*アナウンス*/
.announce-area{
    background-color: #979fa7;
    position: relative;
    width: 17rem;
    height: 0rem;
    margin: 0 auto;
}

.box{
    display: block;

    position: absolute;
    top: 8rem;

    width: 100%;
    height: 10rem;
    background-color: var(--keyboard);

    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 0;

    padding-top: 1rem;

    box-shadow:0 0rem 0.2rem 0 var(--shadow);

    z-index: 10;
}

b{
    padding-right: 0.65rem;
}

.correctmessage{
    color: var(--green);
}

.incorrectmessage{
    color: var(--base);
}

.alert{
    display: block;
    position: absolute;
    width: 100%;
    height: 3rem;

    top: 10rem;
    background-color: var(--red);
}

.alert p b{
    font-size: 1rem;
    line-height: 3rem;
    color: var(--background);
}

.reset-button{
    display: inline-block;
    background-color: var(--base);
    border: none;

    height: 2.1rem;
    width: 10rem;
    line-height: 2.1rem;

    margin-top: 1rem;

    font-size: 1rem;
    color: var(--background);
}

.noshow{
    visibility: hidden;
}

.show{
    visibility: visible;
}